.news {
  overflow: hidden;
  margin-bottom: 4rem;
  padding: 4rem 2rem;
  .slider-list {
    animation: unset;
    @include maxWidth(739px) {
      display: none;
    }
  }
  .slider-item {
    display: flex;
    justify-content: space-between;
  }
  &-heading {
    margin-bottom: 4rem;
    font-size: 2.8rem;
    text-transform: uppercase;
  }
  &-item {
    overflow: hidden;
    width: 31%;
  }
  &-img {
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    transform: scale(1);
    transition: transform ease 0.5s;
    &:hover {
      transform: scale(1.2);
    }
    @include maxWidth(1023px) {
      &:hover {
        transform: scale(1);
      }
    }
  }
  &-title {
    position: relative;
    z-index: 1;
    padding: 1rem;
    height: 6rem;
    background-color: $black;
  }
  &-link {
    font-size: 1.2rem;
    color: $white;
    text-transform: uppercase;
  }
}
.page-controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 50%;
  bottom: 0;
  margin-top: 4rem;
  transform: translateX(-50%);
  width: 5rem;
  @include maxWidth(739px) {
    display: none;
  }
  &__dot {
    width: 1rem;
    height: 1rem;
    border: 1.5px solid $gray-light;
    box-shadow: 0px 0px 0px 1px #d3d3d3;
    border-radius: 50%;
    cursor: pointer;
    &--active {
      background-color: $gray-light;
    }
  }
}

.mobile-news {
  overflow: hidden;
  @include minWidth(740px) {
    display: none;
  }
  .slider-list {
    display: flex;
  }
  .news-item {
    width: 100%;
  }
  .page-controller {
    display: flex;
    margin-top: 2rem;
    width: 20rem;
  }
  &-controller__btn {
    margin-top: 0.8rem;
    font-size: 3rem;
    cursor: pointer;
    ion-icon {
      color: $gray-light;
    }
  }
}
