.product {
  margin-top: 4rem;
  padding: 4rem 2rem;
  background-color: $back-gray;
  @include maxWidth(740px) {
    margin-top: 0;
  }
  &-heading {
    margin-bottom: 4rem;
    font-size: 2.8rem;
    text-transform: uppercase;
  }
  &-item {
    margin-bottom: 3rem;
    background-color: $white;
    cursor: pointer;
  }
  &-info {
    padding: 3rem;
  }
  &-name {
    margin-bottom: 3rem;
    font-size: 2rem;
    // Make products same height when product name is too long
    @include maxWidth(1239px) {
      min-height: 4.6rem;
    }
    @include maxWidth(1023px) {
      min-height: unset;
    }
  }
}
.btn-detail {
  background-color: $white;
  border: 2px solid rgba(0, 0, 0, 1);
  letter-spacing: 1px;
  // Vertical align btn text
  .btn-text {
    position: relative;
    top: -0.15rem;
  }
  &:hover {
    background-color: $text-color;
    .btn-text,
    ion-icon {
      color: $white;
    }
  }
}
