.slider {
  position: relative;
  overflow: hidden;
  &:hover &-btn {
    opacity: 1;
  }
  &-controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    transition: all ease 0.4s;
    opacity: 0;
    cursor: pointer;
    ion-icon {
      color: $white;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  &-dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 3rem;
    width: 6rem;
    transform: translateX(-50%);
  }
  &-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1.5px solid $white;
    box-shadow: 0px 0px 0px 1px #d3d3d3;
    cursor: pointer;
    &--active {
      background-color: $white;
    }
  }
  &-list {
    display: flex;
    position: relative;
    left: 0;
    width: 500%;
    animation: slider 20s infinite;
  }
  &-item {
    position: relative;
    width: 20%;
  }
}
