.story {
  padding: 0 2rem 2rem;
  background-color: $back-gray;
  &-heading {
    margin-bottom: 4rem;
    font-size: 2.8rem;
    text-transform: uppercase;
  }
  .slider-list {
    animation: slider 30s infinite;
  }
  &-info {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    padding: 4rem;
    width: 46rem;
    background-color: $white;
    border-radius: 2px;
    @include maxWidth(1239px) {
      padding: 3rem;
    }
    @include maxWidth(740px) {
      width: 26rem;
      padding: 1rem;
    }
  }
  &-date,
  &-desc {
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: $gray;
    text-align: center;
    @include maxWidth(740px) {
      display: none;
    }
  }
  &-date {
    margin-bottom: 1rem;
    @include maxWidth(1023px) {
      display: none;
    }
  }
  &-desc {
    margin-bottom: 2rem;
    @include maxWidth(1023px) {
      margin-bottom: 0;
    }
  }
  &-title {
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    text-justify: center;
    @include maxWidth(740px) {
      margin-bottom: 0;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
}
.btn-read-more {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  background-color: #000;
  transition: background-color ease 0.2s;
  &:hover {
    background-color: $text-color;
  }
  @include maxWidth(1023px) {
    display: none;
  }
}
