html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  color: $text-color;
}
.container {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}
@include maxWidth(1239px) {
  .container {
    width: 984px;
  }
}
@include maxWidth(1023px) {
  .container {
    width: 768px;
  }
}
.content {
  margin-top: 4rem;
  @include maxWidth(1023px) {
    margin-top: 0;
  }
}
.grid {
  display: block;
  padding: 0;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2rem;
  margin-right: -2rem;
}
.col {
  padding-left: 2rem;
  padding-right: 2rem;
}
.c-4 {
  flex: 0 0 33.33333%;
  width: 33.3333%;
}
@include maxWidth(1023px) {
  .l-6 {
    flex: 0 0 50%;
    width: 50%;
  }
}
@include maxWidth(740px) {
  .m-12 {
    flex: 0 0 100%;
    width: 100%;
  }
}
.content {
  margin-top: 4rem;
  @include maxWidth(1023px) {
    margin-top: 0;
  }
}
.btn {
  display: inline-block;
  padding: 1.2rem 2rem;
  min-width: 10rem;
  height: 4.2rem;
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  transition: all ease 0.2s;
  cursor: pointer;
}
