html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  user-select: none;
}
img {
  display: block;
  width: 100%;
  user-select: none;
}
ul {
  list-style-type: none;
}
